.section-two {
    width: 80%;
    height: auto;
    text-align: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.section-two span {
    font-weight: 600;
}

.section-two p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}