

  .footer-email {
    margin-left:68%;

  }

  .footer h1 {
    padding-left: 30px;
  }
.foots {
  margin-bottom: -20px;
}

footer {
  border-radius: 20px 20px 0 0;
  background-color: rgb(17, 18, 29);
  margin-top: 4%;
}

.item-footer h1 {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.item-footer a {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
